@font-face {
  font-family: "Academic M54";
  src: url("../fontFamilies/1_1.woff") format("woff"),
    url("../fontFamilies/1_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aguzlo";
  src: url("../fontFamilies/2_2.woff") format("woff"),
    url("../fontFamilies/2_2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrushScriptStd";
  src: url("../fontFamilies/3_3.woff") format("woff"),
    url("../fontFamilies/3_3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chiller";
  src: url("../fontFamilies/4_4.woff") format("woff"),
    url("../fontFamilies/4_4.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Clarendon Condensed";
  src: url("../fontFamilies/5_5.woff") format("woff"),
    url("../fontFamilies/5_5.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EccentricStd";
  src: url("../fontFamilies/6_6.woff") format("woff"),
    url("../fontFamilies/6_6.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "forte";
  src: url("../fontFamilies/7_7.woff") format("woff"),
    url("../fontFamilies/7_7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "varsity";
  src: url("../fontFamilies/8_8.woff") format("woff"),
    url("../fontFamilies/8_8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
